# Recurso web .csv

In [1]:
import pandas as pd

In [3]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

In [5]:
df=pd.read_csv(url, delimiter=';')

In [7]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

# Extracción Tabla Web

In [9]:
import pandas as pd
import requests
from io import StringIO

In [11]:
url='https://es.wikipedia.org/wiki/Poblaci%C3%B3n_mundial'

In [13]:
r = requests.get(url)

In [15]:
r.status_code

200

In [17]:
html_doc = r.text

In [19]:
df_lista = pd.read_html(html_doc)

C:\Users\artha\AppData\Local\Temp\ipykernel_20616\4087826035.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_lista = pd.read_html(html_doc)

In [21]:
html_buffer = StringIO(html_doc)

In [23]:
df_lista = pd.read_html(html_buffer)

In [29]:
print(df_lista[2])

                               Región  2022 (porcentaje)  2030 (porcentaje).1  \
0                 África Subsahariana  1152    (14.51 %)  1401      (16.46 %)
1  África del Norte y Asia occidental   549     (6.91 %)   617       (7.25 %)
2          Asia Central y Sur de Asia  2075    (26.13 %)  2248      (26.41 %)
3     Asia Oriental y Sudeste de Asia  2342    (29.49 %)  2372      (27.87 %)
4            Europa, EE. UU. y Canadá  1120    (14.10 %)  1129      (13.26 %)
5          América Latina y el Caribe   658     (8.29 %)   695       (8.17 %)
6             Australia/Nueva Zelanda    31     (0.39 %)    34       (0.40 %)
7                             Oceanía    14     (0.18 %)    15       (0.18 %)
8                               Mundo  7942          NaN  8512            NaN

   2050 (porcentaje).2
0  2094      (21.62 %)
1   771       (7.96 %)
2  2575      (26.58 %)
3  2317      (23.92 %)
4  1125      (11.61 %)
5   749       (7.73 %)
6    38       (0.39 %)
7    20       (0.21 %)
8  9687            NaN

# Web Scrapping

In [31]:
from bs4 import BeautifulSoup

In [63]:
html_doc = """
<html>
<head>
    <title>Web scraping example</title> 
</head> 

<body>
    <h1>Web scraping with BeautifulSoup</h1>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
    <p>Third paragraph.</p>
    <a href="https://www.example.com">This is a link.</a>
</body>
</html>
"""

In [67]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [37]:
soup.title

In [39]:
soup.h1

In [41]:
soup.p

In [43]:
soup.a

In [53]:
soup.title.string

'Web scraping example'

In [55]:
soup.h1.string

'Web scraping with BeautifulSoup'

In [57]:
soup.p.string

'This is a paragraph.'

In [59]:
soup.a['href']

'https://www.example.com'

In [69]:
paragraphs = soup.find_all('p')
for p in paragraphs:
    print(p.string)

This is a paragraph.
This is another paragraph.
Third paragraph.

In [71]:
first_paragraph = soup.find('p')

In [73]:
first_paragraph