# Lectura completa

In [2]:
import pandas as pd

In [6]:
df_ventas = pd.read_excel('C:/Users/artha/OneDrive/Escritorio/AKKODIS/python-rda/05_xlsx_docx_pdf/distritos-ejemplo.xlsx')

In [8]:
df_ventas.head()

          DISTRITO  Población_Distrito
0       Arganzuela              151965
1           Centro              149718
2         Chamberí              137401
3  Moncloa-Aravaca              116903
4           Latina              233808